.productBox {
    display:inline-block;
    padding: 20px;
    margin: 5px;
    color: black;
    background-color: white;
    border-radius: 20px;
}
.productBox .center {
    text-align: center;
}
.productBox .right {
    margin-left: 10px;
    margin-right: 0px;
}
.productBox .number-input {
    height: 25px;
    width: 50%;
    max-width: 200px;
    font-size: 14px;
}
.productBox .inline {
    display: inline;
}
.productBox .inline-right {
    display: inline;
    float: right;
}
.productBox .closeIcon {
    border-radius: 5px;
    margin-left: 2px;
}
.productBox .editIcon {
    border-radius: 5px;
    margin-left: 2px;
}
.productBox .editIcon:hover {
    background-color: grey;
}
.productBox .hover{
    border-radius: 5px;
    margin-left: 2px;
}
.productBox .closeIcon:hover {
    background-color: grey;
}